script#message-template(type="text/x-kendo-template")
  div.top-row
    ${date}
  div.list-row
    span.bottom-right.label
      label
    div.icon-column
      abc
    div.content-column.clickable
      div
        h2 ${fromName}
        h2 ${fromId}
      h3 ${title}
      p ${content}
    div.icon-column
      bcd
  div.bottom-row
    bottom row
