extend kendo-mobile-layout
include mixin/task-menu
block body
  div#message-view(data-role="view", data-layout="default-layout", data-init="onMessageViewInit")
    ul#message-list

  div#cell-preview-view(data-role="view",  data-show="onCellPreviewViewShow")
    header(data-role="header")
      div(data-role="navbar")
        a(data-role="backbutton", data-align="left") Back
        a(data-role="button", data-align="right", data-icon="cell") Call Back
        a(data-role="button", data-align="right", data-icon="trash") Archive
    ul(data-role="listview", data-style="inset")
      li#cell-preview-view-title
      li#cell-preview-view-from
      li#cell-preview-view-content
    footer(data-role="footer")
      div(data-role="navbar")
        ul(data-role="buttongroup")
          li(data-icon="play") Play
          li(data-icon="fastforward") Fast Forward
          li(data-icon="rewind") Rewind

  div#mail-preview-view(data-role="view",  data-show="onMailPreviewViewShow")
    header(data-role="header")
      div(data-role="navbar")
        a(data-role="backbutton", data-align="left") Back
        a(data-role="button", data-align="right", data-icon="reply") Reply
        a(data-role="button", data-align="right", data-icon="details") Move
        a(data-role="button", data-align="right", data-icon="trash") Delete
    ul(data-role="listview", data-style="inset")
      li#mail-preview-view-title
      li#mail-preview-view-from
      li#mail-preview-view-content

  div(data-role="layout", data-id="default-layout")
    +task-menu

block body-script
  script.
    var TASK_ID = #{id};
  script#list-view-template(type="text/x-kendo-template")
    div.list-row
      div.icon-column
          i(class=['km-icon', 'km-' + "${type}"])
      div.content-column.clickable(
        data-role="touch",
        data-enable-swipe="true",
        data-tap="onContentColumnTap",
        data-swipe="onContentColumnSwipe",
        data-min-x-delta="100"
      )
        div.group
          h2.fromName ${fromName}
          h3.fromId ${fromId}
        h4 ${date}
        h4 ${title}
        p ${content}
      div.icon-column.clickable
        i.km-icon.km-reply
  script(src="/js/task-detail.js")
