extend main-layout
include mixin/notification-sidebar
include mixin/header-menu
block content
  div.task-detail-view
    +header-menu([
      { text: 'Sort By' },
      { text: 'Remind Me Later' },
      { text: 'Mark Complete' }
    ])
    div.list-title
      h1.row #{task.name}
      h2.row #{task.for}
    div.message-list
      each message in task.messages
        div.list-row
          div.column.icon-container
            i(class=message.iconClass)
          div.column.content-column
            div.header
              div.from-name #{message.fromName}
            p.body #{message.content}
          div.column.icon-container
            i(class="icon-reply")

  +notification-sidebar
