extend kendo-mobile-layout
include mixin/task-menu
include mixin/task-forward
include mixin/task-add
include mixin/notification-bar
include mixin/reminder-view
block body
  div#home-screen(data-role="view")
    div(data-role="content")
      img.native(src="/images/home-screen.jpg")
  div#task-list-view(data-after-show="onTaskListViewAfterShow", data-role="view", data-layout="default-layout", data-init="onTaskListViewInit")
    div#task-list

  +reminder-view(newMessages, outdatedTasks, '#task-list-view')
  +task-forward(contacts)
  +task-add
  +notification-bar("['home-screen', 'reminder-view', 'task-list-view']", "#reminder-view", newMessages.length + outdatedTasks.length)
  div(data-role="layout", data-id="default-layout")
    div#group-by-popover(data-role="popover", data-popup="{ height: '12em' }")
      div(data-role="view", data-init="onGroupByPopOverInit")
        ul(data-role="listview")
          li
            label Group By Category
              input(name="group-by-select", type="radio", checked="checked", value="category")
          li
            label Group By Contact
              input(name="group-by-select", type="radio", value="contact")

    +task-menu
    header#unselected-navbar(data-role="header")
      div(data-role="navbar")
        a(data-align="right", data-role="button", data-icon="menu", data-rel="popover", href="#group-by-popover") Group By
        a(data-align="right", data-role="button", data-icon="add", href="#task-add-view") Add Task
      ul(data-role="listview")
        li(data-icon="search")
          label &nbsp;
            input(type="search", placeholder="Search")
    footer(data-role="footer")
      div(data-role="navbar")
        a(data-role="button", data-icon="home", href="#task-list-view") Home

block body-script
  script#task-template(type="text/x-kendo-template")
    div.list-row
      div.icon-column.km-listview-label
        input(type="checkbox")
      div.content-column.clickable(
        data-role="touch",
        data-enable-swipe="true",
        data-tap="onContentColumnTap",
        data-swipe="onContentColumnSwipe",
        data-min-x-delta="100",
        data-task-id="${id}"
      )
        h2 ${name}
        h3 ${date}
        p ${summary}
  script(src="/js/task-list.js")
