extend kendo-mobile-layout
include mixin/task-menu
include mixin/task-forward
block body
  div#category-view(data-after-show="onViewAfterShow", data-role="view", data-layout="default-layout", data-init="onCategoryViewInit")
    ul#category-list
  div#contact-view(data-after-show="onViewAfterShow",data-role="view", data-layout="default-layout", data-init="onContactViewInit")
    ul#contact-list
  div#all-view(data-after-show="onViewAfterShow",data-role="view", data-layout="default-layout", data-init="onAllViewInit")
    ul#all-list
  +task-forward(contacts)
  div(data-role="layout", data-id="default-layout", data-show="onLayoutShow")
    div#group-by-popover(data-role="popover", data-popup="{ height: '12em' }")
      div(data-role="view", data-init="onGroupByPopOverInit")
        ul(data-role="listview")
          li
            label Group By Category
              input(name="group-by-select", type="radio", checked="checked", value="category-view")
          li
            label Group By Contact
              input(name="group-by-select", type="radio", value="contact-view")
          li
            label View All
              input(name="group-by-select", type="radio", value="all-view")

    div#search-popover(data-role="popover", data-popup="{ width: '28em', height: '8em' }")
      div(data-role="view")
        ul(data-role="listview", data-style="inset")
          li
            label(for="search-input") Search:
            input#search-input(type="search")

      div#remind-me-popover(data-role="popover", data-popup="{ height: '16em', width: '28em' }")
        div(data-role="view", data-init="onRemindMePopOverInit")
          ul(data-role="listview")
            li
              label In One Day
                input(name="remind-me", type="radio")
            li
              label In One Week
                input(name="remind-me", type="radio")
            li
              label In One Month
                input(name="remind-me", type="radio")
            li
              label Custom
                input(name="remind-me", type="date")

    +task-menu
    header#unselected-navbar(data-role="header")
      div(data-role="navbar")
        a(data-align="left", data-role="button", data-icon="search", data-rel="popover", href="#search-popover") Search
        a(data-align="left", data-role="button", data-icon="menu", data-rel="popover", href="#group-by-popover") Group By
        a(data-align="left", data-role="button", data-icon="add", href="#add-task-view") Add Task

block body-script
  script#list-view-template(type="text/x-kendo-template")
    div.list-row
      div.icon-column.km-listview-label
        input(type="checkbox")
      div.content-column.clickable(
        data-role="touch",
        data-enable-swipe="true",
        data-tap="onContentColumnTap",
        data-swipe="onContentColumnSwipe",
        data-min-x-delta="100",
        data-task-id="${id}"
      )
        h2 ${name}
        h3 ${date}
        p ${summary}
  script(src="/js/task-list.js")
